$primary-color: mat-color($primary) !important;
$primary-light-color: white;
$primary-light-color-i: white !important;
$primary-color-50: mat-color($primary, 50) !important;
$primary-color-100: mat-color($primary, 100);
$primary-color-100-i: mat-color($primary, 100) !important;
$primary-color-200: mat-color($primary, 200) !important;
$primary-color-300: mat-color($primary, 300);
$primary-color-300-i: mat-color($primary, 300) !important;
$primary-color-400: mat-color($primary, 400) !important;
$primary-color-500: mat-color($primary, 500) !important;
$primary-color-600: mat-color($primary, 600) !important;
$primary-color-700: mat-color($primary, 700) !important;
$primary-color-800: mat-color($primary, 800);
$primary-color-800-i: mat-color($primary, 800) !important;
$primary-color-900: mat-color($primary, 900) !important;
$primary-text-dark-color: $primary-color-900;
$primary-text-light-color: $primary-light-color-i;
$error-color: mat-color(mat-palette($mat-red)) !important;
$warning-color: mat-color(mat-palette($mat-orange)) !important;
$info-color: mat-color(mat-palette($mat-light-blue)) !important;
$btn-facebook-background-color: #4267b2 !important;
$btn-facebook-icon-background-color: #3b5998 !important;
$btn-google-background-color: #f5f5f5 !important;
$btn-google-color: #333 !important;
$btn-google-icon-background-color: #db4437 !important;
$btn-twitter-background-color: #00aced !important;
$btn-twitter-icon-background-color: #0099d4 !important;

.mat-snack-bar-container {
    &.error {
        background-color: $error-color;
    }
    &.info {
        background-color: $info-color;
    }
    &.success {
        background-color: $primary-color-900;
    }
    &.warning {
        background-color: $warning-color;
    }
}

grid {
    background: $primary-color-100;
    .mat-table {
        .mat-header-row {
            background: $primary-color-100;
        }
        .mat-row {
            background: $primary-light-color;
            &:nth-child(odd) {
                background: $primary-color-50;
            }
        }
    }
}
