html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $primary-text-dark-color;
  height: 100%;
  font-size: 14px;
  body {
      margin: 0;
      overflow: hidden;
      height: inherit;
      app {
          display: block;
          height: inherit;
      }
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

[hidden] {
  display: none !important;
}

.spacer {
    flex: 1 1 auto;
}

.mat-dialog-container {
    padding: 0 !important;
}
