AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-fi
    RewriteCond %{REQUEST_URI} !/api/
    RewriteRule !.(js|map|ico|gif|jpg|png|css|woff|woff2|ttf)$ client/index.html [QSA,L]
    RewriteRule (inline|main|polyfills|styles|scripts|fontawesome-webfont|[0-9]+).([a-z0-9.]+).(js|map|ico|gif|jpg|png|css|woff|woff2|ttf)$ client/$1.$2.$3 [QSA,L]
    RewriteRule favicon.ico$ client/favicon.ico [QSA,L]

    RewriteCond %{REQUEST_URI} /api/
	RewriteRule ^api/(.*)$ api/index.php?_url=/$1 [QSA,L]
</IfModule>

#IMPORTANT TO GET JWT FROM HEADERS
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
