<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-icon-button routerLink="/" disableRipple class="logo">
            <mat-icon>assessment</mat-icon>
            <span>CMS</span>
        </a>

        <span class="spacer"></span>

        <ng-container *ngIf="isAuthenticated">
            <ul><li *ngFor="let module of moduleService.modules" (click)="moduleService.addInstance(module)">{{ module.Name}}</li></ul>
        </ng-container>
        <span>{{userInfo}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon fontSet="fa" [fontIcon]="userIcon" class="fa-1x8"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-container *ngIf="!isAuthenticated">
                <button mat-menu-item (click)="login()">
                    <mat-icon>lock_open</mat-icon>
                    <span>{{ 'Button.Signin' | translate }}</span>
                </button>
            </ng-container>
            <ng-container *ngIf="isAuthenticated">
                <button mat-menu-item [routerLink]="['/module-container']" [skipLocationChange]="true">
                    <mat-icon>widgets</mat-icon>
                    <span>{{ 'Button.Modules' | translate }}</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>lock</mat-icon>
                    <span>{{ 'Button.Signout' | translate }}</span>
                </button>
            </ng-container>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
