:host /deep/ {
    .mat-input {
        &-prefix {
            position: absolute;
            top: 12px;
        }
        &-infix {
            margin-left: 25px;
        }
    }
    .btn-forgot-password {
        position: absolute;
        top: 16px;
        right: 0;
        min-width: 115px;
        .btn-link {

            &:focus {
                outline: none;
            }
            &:active {
                font-size: 13px;
            }
        }
    }
}
