<modal>
    <form>
        <ng-container [ngSwitch]="authType">
            <ng-container *ngSwitchCase="EAuthenticationType.SignIn">
                <div fxLayout="row" class="signin-container">
                    <div fxFlex="60" class="signin-content">
                        <h1>{{ 'Signin' }}</h1>
                        <h4>{{ 'Description' }}</h4>
                        <modal-messages></modal-messages>
                        <text-control [(ngModel)]="signInRequest.Username" placeholder="Username/Email" name="Username" required></text-control>
                        <password-control forgotPassword [(ngModel)]="signInRequest.Password" (onForgotPasswordClick)="forgotPassword()" placeholder="Field.Password" name="Password"></password-control>
                        <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" [site_key]="settings.reCaptchaSiteKey" [language]="translateService.language"></re-captcha>
                        <button mat-raised-button type="submit" color="primary" [disabled]="isSubmitisabled" (click)="signIn()">{{ 'Signin' }}</button>
                    </div>
                    <div fxFlex="40" class="signup-content">
                        <div fxFill fxLayout="column">
                            <div fxFlex fxLayoutAlign="center center">
                                <div class="signup-content">
                                    <h1>{{ 'Signup' }}</h1>
                                    <span class="signup-description">{{ 'Description' }}</span>
                                    <button mat-raised-button type="button" (click)="register()">{{ 'Button.Signup' }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </form>
</modal>

